@media (max-width: 540px) {
    header img {
        width: 100px;
        height: 30px;
    }
}

@media (max-width: 1200px) {
    #button_associe-se{
    background-color: #f8f9fa!important;
    font-weight: bold;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    font-size: 12px!important;
    }
}

body{
    margin: 0vh !important;
    padding: 80px 0px 0px 0px!important;
    color: white;
}

.navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
    text-transform: uppercase;
    color: black;
    float: right;
    width: 80vw;
    font-size: 0.9vw;
}

#button_associe-se{
    background-color: #ff5757;
    font-weight: bold;
}

main section .coluna_01{
    background-color: #b3b3b3;
}

main section .coluna_01 h3{
    color: white;
    font-size: 1rem;
    text-align: center;
}

main section h2{
    text-transform: uppercase;
}

main section .coluna_02{
    background-color: #ff5757;
}

main section .coluna_02 h3{
    color: white;
    font-size: 1rem;
    text-align: center;

}

footer{
    background-color: black;
    border: 1px solid transparent;
}